<!DOCTYPE html>
<html>

<head>
    <title>Debate Application</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Angular Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- Socket IO & Jquery -->
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> -->
    <!-- -->
    <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css"> -->
    <!-- Angular Material requires Angular.js Libraries -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script> -->
    <!-- Angular Material Library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script> -->
    <link rel="stylesheet" href="chat.css">
</head>

<body>
    <div ng-app="chat_app" ng-controller="chat_controller">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="accordion">
                            <span class="glyphicon glyphicon-comment"></span> DEBATO
                            <div class="btn-group pull-right">
                                <!-- <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> -->
                                <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                            </div>
                        </div>
                        <form>
                            Feature
                            <input type="radio" ng-model="feature_type" value="1">Debate
                            <input type="radio" ng-model="feature_type" value="2">Quick Info
                            <!-- <input type="radio" ng-model="feature_type" value="3">Meaning -->
                        </form>
                        <div ng-switch="feature_type">
                            <div ng-switch-when="1">
                                <h1>Debate</h1>
                                <!-- <div class="panel-collapse collapse" id="collapseOne"> -->
                                <div class="panel-body">
                                    <ul class="chat">
                                        <li class="left clearfix" ng-repeat="counter in display_counters track by $index">
                                            <button id="{{'left_toggle'+$index}}" ng-click="left_toggle($index)" class="pull-left" ng-if="$index%2==1">
                                                <</button>
                                                    <button id="{{'right_toggle'+$index}}" ng-click="right_toggle($index)" class="pull-right" ng-if="$index%2==1">></button>
                                                    <span class="chat-img pull-right" ng-if="$index%2==0"><img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" /></span>
                                                    <span class="chat-img pull-left" ng-if="$index%2==1"><img src="http://placehold.it/50/55C1E7/fff&text=M" alt="User Avatar" class="img-circle" /></span>
                                                    <div class="chat-body clearfix pull-right" ng-if="$index%2==0">
                                                        <div class="header">
                                                            <strong class="primary-font"></strong>
                                                        </div>
                                                        <p>
                                                            {{counter}}
                                                            <!-- , {{$index}} -->
                                                            <!-- Note: this is for user searches -->
                                                        </p>
                                                    </div>
                                                    <div class="chat-body clearfix pull-left" ng-if="$index%2==1">
                                                        <div class="header">
                                                            <strong class="primary-font"></strong> <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                                        </div>
                                                        <h4>{{counter.Google.title}}</h4>
                                                        <p>{{counter.Google.text}}
                                                            <!-- , {{$index}} -->
                                                        </p>
                                                        <footer><!--({{counter.confidence}}), -->url: <a href="{{counter.Google.url}}" target="_blank">{{counter.Google.url}}</a></footer>
                                                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-click="showTweets($index)">Show Tweets</button>
                                                        <!-- Modal -->
                                                        <div id="myModal" class="modal fade" role="dialog">
                                                            <div class="modal-dialog">
                                                                <!-- Modal content-->
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                        <h4 class="modal-title">Tweets</h4>
                                                                    </div>
                                                                    <div class="modal-body" ng-repeat="tweet in tweets track by $index">
                                                                        <h3>{{tweet.title}}</h3>
                                                                        <p>{{tweet.text}}</p>
                                                                        <footer>{{tweet.url}}</footer>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-switch-when="2">
                                <h1>Quick Info</h1>
                                <!-- <div class="panel-collapse collapse" id="collapseOne"> -->
                                <div class="panel-body">
                                    <ul class="chat">
                                        <li class="left clearfix" ng-repeat="counter_2 in display_counters_2 track by $index">
                                            <button id="{{'left_toggle_2'+$index}}" ng-click="left_toggle_2($index)" class="pull-left" ng-if="$index%2==1">
                                                <</button>
                                                    <button id="{{'right_toggle_2'+$index}}" ng-click="right_toggle_2($index)" class="pull-right" ng-if="$index%2==1">></button>
                                                    <span class="chat-img pull-right" ng-if="$index%2==0"><img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" /></span>
                                                    <span class="chat-img pull-left" ng-if="$index%2==1"><img src="http://placehold.it/50/55C1E7/fff&text=M" alt="User Avatar" class="img-circle" /></span>
                                                    <div class="chat-body clearfix pull-right" ng-if="$index%2==0">
                                                        <div class="header">
                                                            <strong class="primary-font"></strong>
                                                        </div>
                                                        <p>
                                                            {{counter_2}}
                                                            <!-- , {{$index}} -->
                                                            <!-- Note: this is for user searches -->
                                                        </p>
                                                    </div>
                                                    <div class="chat-body clearfix pull-left" ng-if="$index%2==1">
                                                        <div class="header">
                                                            <strong class="primary-font"></strong> <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                                        </div>
                                                        <h4>{{counter_2.Google.title}}</h4>
                                                        <p>{{counter_2.Google.text}}
                                                            <!-- , {{$index}} -->
                                                        </p>
                                                        <footer><!--({{counter_2.confidence}}), -->url: <a href="{{counter_2.Google.url}}" target="_blank">{{counter_2.Google.url}}</a></footer>
                                                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-click="showTweets_2($index)">Show Tweets</button>
                                                        <!-- Modal -->
                                                        <div id="myModal" class="modal fade" role="dialog">
                                                            <div class="modal-dialog">
                                                                <!-- Modal content-->
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                        <h4 class="modal-title">Tweets</h4>
                                                                    </div>
                                                                    <div class="modal-body" ng-repeat="tweet_2 in tweets_2 track by $index">
                                                                        <h3>{{tweet_2.title}}</h3>
                                                                        <p>{{tweet_2.text}}</p>
                                                                        <footer>{{tweet_2.url}}</footer>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- <div ng-switch-when="3">
                                <h1>Cars</h1>
                                <p>Read about cars.</p>
                            </div> -->
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="raw_query" />
                                <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="search()" ng-if="feature_type==1">
                                Send</button>
                            <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="search_2()" ng-if="feature_type==2">
                                Search</button>
                        </span>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="chat.js" type="text/javascript"></script>

</html>